<% @albums.each do |album| %>
<div class="card border w-4/12 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <img class="max-h-20 w-full opacity-80 absolute top-0" style="z-index:-1" src="https://unsplash.com/photos/h0Vxgz5tyXA/download?force=true&w=640" alt="" />
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag("#{ @photos.select { |a| a["albumId"] == album["id"]}.pluck("thumbnailUrl").first}", class: "w-28 h-28 p-1 bg-white rounded-full" ) %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words text-black"><%= link_to "#{ @users.select { |a| a["id"] == album["userId"]}.pluck("name").join(', ')}", user_path(album["userId"]) %></div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic text-black"><%= album["title"] %></div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <%= link_to "Show", album_path(album["id"]), class: "add border rounded-2xl rounded-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" %>
      <!-- <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Bio</div> -->
    </div>
  </div>
<% end %>

<div class="container mx-auto items-center text-center">
    <%= will_paginate %>
</div>