<% @albums.each do |album| %>
<article class="border w-2/4 mx-auto border-gray-400 rounded-lg md:p-4 bg-white sm:py-3 py-4 px-2 m-10" data-article-path="/hagnerd/setting-up-tailwind-with-create-react-app-4jd" data-content-user-id="112962">
  <div role="presentation">
      <div>
        <div class="pl-10">
          <div class="flex items-center">
            <%= image_tag("#{ @photos.select { |a| a["albumId"] == album["id"]}.pluck("thumbnailUrl").first}") %>
              <div>
                <p> 
                  <%= link_to "#{ @users.select { |a| a["id"] == album["userId"]}.pluck("name").join(', ')}", user_path(album["userId"]), class: "text text-gray-700 text-sm" %>
                </p>
              </div>
          </div>
        </div>
        <div class="pl-12 md:pl-10 xs:pl-10">
          <h2 class="text-2xl font-bold mb-2 leading-7">
              <%= album["title"] %>
          </h2>
          
          <div class="flex justify-end items-center">
              <div class="flex items-center">                
                <%= link_to "Show", album_path(album["id"]), class: "bg-gray-400 rounded text-sm px-3 py-2 text-current hover:text-black hover:bg-gray-500" %>
              </div>
          </div>
        </div>
    </div>
  </div>
</article>
<% end %>

<div class="flex flex-wrap lg:px-24 container m-auto text-center">
  <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6 inline">
    <%= will_paginate %>
  </div>
</div>